
html {
  background: url(../../assets/images/background.jpg);
}
/* Background of Navbar*/
.topnav {
  background-color:  gainsboro;
  overflow: hidden;
}
.topnav #logo {
   float: left;
 }
/* Links */
.topnav a {
  float: left;
  color: darkslategray;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font: 14px sans-serif;
}

/* Hover over links */
.topnav a:hover {
  background-color: #ffffff;
  color: #ffffff;
}

/* Active link */
.topnav a.active {
  background-color: #117a8b;
  color: #ffffff;
}
/* Search box */
.topnav input[type=text] {
  float: right;
  border: #117a8b;
  margin-right: 16px;
  font-size: 12px;
}
.topnav #login {
  float: right;
  text-align: center;
}
/* Dropdown button */
.dropdown .dropbtn {
  font-size: 12px;
  border: none;
  outline: none;
  color: darkslategray;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

/* Blue background color*/
.topnav a:hover, .dropdown:hover .dropbtn {
  background-color: #117a8b;

}

/*Dropdown*/
.dropdown {
  position: absolute;
  display: inline-block;
}
/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;

}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #dddddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;

}
/*CSS Body*/
main {
  max-height: 100%;
  min-height: 15cm;
  overflow: hidden; /*prevents bottom scroll bar*/

}

/*CSS Footer*/
.footer-distributed{
  background-color: gainsboro;
  box-sizing: border-box;
  align-self: flex-end;
  bottom: 0;
  width: 100%;
  text-align: left;
  font: bold 14px sans-serif;

  padding: 10px 40px;

}
/*Footer content alignment by narrow window*/
.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
  display: inline-block;
  vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
  width: 40%;
}

/* Footer links */

.footer-distributed .footer-links{
  color: darkslategray;
  margin: 18px 0px 12px;
  padding: 0;
}

.footer-distributed .footer-links a{
  display:inline-block;
  line-height: 2;
  text-decoration: none;
  color:  darkslategray;
}
.footer-distributed .footer-links a:hover {
  text-decoration-line: underline;
  }
/*shows which link is currently active*/
.footer-distributed .footer-links a.active {
  text-decoration-line: underline;
}




.footer-distributed .footer-company-name{
  color:  #8f9296;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
  width: 35%;
}
/*Footer icons*/
.footer-distributed .footer-center i{
  background-color: white;
  color: darkslategray;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
  font-size: 16px;
  line-height: 38px;
}

.footer-distributed .footer-center p{
  display: inline-block;
  color: darkslategray;
  vertical-align: middle;
  margin:0;
}

.footer-distributed .footer-center p span{
  display:block;
  font-weight: normal;
  font-size:14px;
  line-height:2;
}

/* Footer Right */

.footer-distributed .footer-right{
  width: 20%;
}

.footer-distributed .footer-company-about{
  line-height: 20px;
  color:  darkslategray;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-company-about span{
  display: block;
  color: darkslategray;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}


