<!--Website layout-->

<!--HEADER-->

<div class="topnav">
  <div id="logo">
  <!--Logo-->
  <img src="../favicon_t8.ico" width="43" height="43" alt="logo">
  </div>
  <div id="title">
    <h1 style="font-family: Arial, Helvetica, sans-serif"> <strong>Jobbly</strong>  </h1>
  </div>
  <!--Links-->
  <a class="!active" routerLinkActive="active" routerLink="/dashboard"><i class="fa fa-fw fa-home"></i> Dashboard
    <span class="sr-only">(current)</span></a>

  <a class="!active" routerLinkActive="active" routerLink="/viewjoblisting">Stelleninserate</a>

  <!--Links. Link to "Eigene Inserate" and "Neues Inserat" appears when logged in.-->
  <a class="!active" routerLinkActive="active" routerLink="/company-joblist"
     *ngIf="(isLoggedIn | async)" >Eigene Inserate</a>

  <a class="!active" routerLinkActive="active" routerLink="/createjoblist"
     *ngIf="(isLoggedIn | async)" >Neues Inserat</a>

  <a class="!active" routerLinkActive="active" routerLink="/company-edit"
     *ngIf="(isLoggedIn | async)" >Adresse bearbeiten</a>

  <div class="dropdown">
    <button class="dropbtn" *ngIf="(isAdmin | async)">Admin <i class="fa fa-caret-down"></i></button>
    <div class="dropdown-content">
      <a routerLinkActive="active" routerLink="/adminverify">Validieren</a>
      <a routerLinkActive="active" routerLink="/adminall">Bearbeiten</a>
    </div>
  </div>

  <!-- show 'login' link if user is logged out, and 'logout' link otherwise -->
  <div id="login">
    <a class="!active" routerLinkActive="active" routerLink="/login"
     *ngIf="!(isLoggedIn | async)" (click)="authService.login()"><i class="fa fa-sign-in" aria-hidden="true"></i> Login</a>
    <a class="!active" routerLinkActive="active" routerLink="/register"
       *ngIf="!(isLoggedIn | async)" (click)="authService.login()">Registrieren</a>
    <a class="!active" routerLinkActive="active" routerLink="/login"
     *ngIf="(isLoggedIn | async)" (click)="authService.logout()">Logout</a>
</div>
</div>


<!--BODY-->
<div id="body">
   <!--where to display alert messages-->
        <app-alert></app-alert>
        <!-- where to display components-->
        <router-outlet></router-outlet>
</div>

<!--FOOTER CONTENT-->
<footer class="footer-distributed">

  <div class="footer-left">
    <!--logo-->
    <img src="assets/images/MIB_logo2.png" width="200" height="90" alt="">

    <p class="footer-links">
      <a class="nav-link" routerLinkActive="active" routerLink="/dashboard">Dashboard</a>
      <a class="nav-link" routerLinkActive="active" routerLink="/viewjoblisting">Stelleninserate</a>
      <a class="nav-link" routerLinkActive="active" routerLink="/company-joblist"
         *ngIf="(isLoggedIn | async)" >Eigene Inserate</a>
      <a class="nav-link" routerLinkActive="active" routerLink="/createjoblist"
         *ngIf="(isLoggedIn | async)" >Neues Inserat</a>
    </p>
    <!--Displays "MIB © 2018"-->
    <p class="footer-company-name">MIB &copy; 2018</p>
  </div>

  <div class="footer-center">
    <!--Location-->
    <div>
      <i class="fa fa-map-marker"></i>
      <p><span>Universität Bern</span>Bern, Schweiz</p>
    </div>
    <!--Mail-->
    <div>
      <i class="fa fa-envelope"></i>
      <p>support@team8.ch</p>
    </div>
  </div>

  <div class="footer-right">
    <p class="footer-company-about">
      <span>Über uns</span>
      Wir sind Team 8.
    </p>
  </div>

</footer>

