
<div class="container">
    <h3>Zu verifizierende Jobs</h3>
    <div class="table-bordered">
        <div>
            <div *ngFor="let job of jobListingList" class="well well-sm">
                <div class="nav navbar-brand">
                    <a class="nav-item nav-link active" routerLink="/joblisting/{{job.id}}">
                        <span class="badge"> {{job.title}}</span>
                    </a>
                </div>
                <ul>
                    <li> Titel: {{job.title}}</li>
                    <li> Beschreibung: {{job.description}}</li>
                    <div>
                        <button class="btn btn-success" (click)="setJobVerified(job.id)">Bestätigen</button>
                        <button class="btn btn-danger" (click)="setJobRefused(job.id)">Ablehnen</button>
                    </div>
                </ul>
            </div>
        </div>
    </div>
    <h3>Zu verifizierende Benutzer</h3>
    <div class="table-bordered">
        <div>
            <div *ngFor="let user of userList" class="well well-sm">
                <div class="nav navbar-brand">
                    <a class="nav-item nav-link active" routerLink="/joblisting/{{user.id}}">
                        <span class="badge"> {{user.name}}</span>
                    </a>
                </div>
                <ul>
                    <li> Name: {{user.name}}</li>
                    <li> Firma:</li>
                    <div>
                        <button class="btn btn-success" (click)="setUserVerified(user.id)">Bestätigen</button>
                        <button class="btn btn-danger" (click)="setUserRefused(user.id)">Ablehnen</button>
                    </div>
                </ul>
            </div>
        </div>

    </div>
</div>
