<div class="container">
    <h3>Stellen</h3>
    <div class="table-bordered">
        <div>
            <div *ngFor="let job of jobListingList" class="well well-sm">
                <div>
                    <a class="nav-item nav-link active" routerLink="/joblisting/{{job.id}}">
                        <span class="badge"> {{job.title}}</span>
                    </a>
                </div>
                <ul>
                    <li> Titel: {{job.title}}</li>
                    <li> Beschreibung: {{job.description}}</li>
                    <div style="margin-top: 15px">
                        <button class="btn btn-danger" (click)="deleteJob(job)">Löschen</button>
                    </div>
                </ul>
            </div>
        </div>
    </div>
    <h3>Benutzer</h3>
    <div class="table-bordered">
        <div>
            <div *ngFor="let user of userList" class="well well-sm">
                <div>
                    <a class="nav-item nav-link active" routerLink="/updateuser/{{user.id}}">
                        <span class="badge"> {{user.email}}</span>
                    </a>
                </div>
                <ul>
                    <li> Name: {{user.email}}</li>
                    <!-- <li> Firma: {{company.companyName}}</li> -->
                    <div style="margin-top: 15px">
                        <a class="btn btn-info" role="button" routerLinkActive="active" routerLink="/updateuser/{{user.id}}">Bearbeiten</a>
                        <button class="btn btn-danger" (click)="deleteUser(user)">Löschen</button>
                    </div>
                </ul>
            </div>
        </div>
    </div>
</div>
