
<div class="container">
    <h3>Zu verifizierende Jobs</h3>
    <div class="table-bordered">
        <div>
            <div *ngFor="let job of jobListingList" class="well well-sm">
                <div>
                    <a class="nav-item nav-link active" routerLink="/joblisting/{{job.id}}">
                        <span class="nav-link text-dark"> {{job.title}}</span>
                    </a>
                </div>
                <ul>
                    <li> Titel: {{job.title}}</li>
                    <li> Beschreibung: {{job.description}}</li>
                    <div>
                        <button class="btn btn-success" (click)="setJobVerified(job)">Bestätigen</button>
                        <button class="btn btn-danger" routerLinkActive="active" routerLink="/adminrefuse">Ablehnen</button>
                    </div>
                </ul>
            </div>
        </div>
    </div>
    <h3>Zu verifizierende Benutzer</h3>
    <div class="table-bordered">
        <div>
            <div *ngFor="let user of userList" class="well well-sm">
                <div>
                    <a class="nav-item nav-link active" routerLink="/joblisting/{{user.id}}">
                        <span class="badge"> {{user.email}}</span>
                    </a>
                </div>
                <ul>
                    <li> Name: {{user.email}}</li>
                    <ng-container *ngIf="getUsersCompany(user.id)">
                    <li> Firma: </li>
                    </ng-container>
                    <div>
                        <button class="btn btn-success" (click)="setUserVerified(user)">Bestätigen</button>
                        <button class="btn btn-danger" routerLinkActive="active" routerLink="/adminrefuse">Ablehnen</button>
                    </div>
                </ul>
            </div>
        </div>
    </div>
</div>

