<div class="container">
    <h2 style="color: darkslategray">Stellen</h2>
    <div>
        <div>
            <div *ngFor="let job of jobListingList" class="well well-sm">
                <div>
                    <a style="color: #3bbfbf; font-size: 18px;" class="nav-item nav-link active" routerLink="/joblisting/{{job.id}}">
                        <span class="nav-link font-weight-bold"> {{job.title}}</span>
                    </a>
                </div>
                <ul style="font-size: 16px">
                    <li> Titel: {{job.title}}</li>
                    <li> Beschreibung: {{job.description}}</li>
                    <div style="margin-top: 10px">
                        <button class="btn btn-danger" (click)="deleteJob(job)">Löschen</button>
                    </div>
                </ul>
            </div>
        </div>
    </div>
    <h2 style="color: darkslategray">Benutzer</h2>
    <div>
        <div *ngFor="let user of userList">
            <div *ngIf="user.role !== 'admin'" class="well well-sm">
                <div>
                    <a style="color: #3bbfbf; font-size: 18px;" class="nav-item nav-link active" routerLink="/adminviewuser/{{user.id}}">
                        <span class="nav-link font-weight-bold"> {{user.email}}</span>
                    </a>
                </div>
                <ul style="font-size: 16px">
                    <li>Name: {{user.email}}</li>
                    <ng-container *ngIf="getUsersCompany(user.id)">
                        <li> Firma: {{getUsersCompany(user.id).companyName}}</li>
                    </ng-container>
                  <div id="popup" class="modal">
                    <div class="modal-content">
                      <div style="margin-top: 10px">
                        <button class="btn btn-danger" (click)="deleteUser(user)">Löschen</button>
                      </div>
                    </div>
                  </div>
                </ul>
            </div>
        </div>
    </div>
</div>
