<div class="container"  style="margin-top: 20px" [hidden]="refuseWhat === '' || refuseWhat === 'user'">
    <h5>Bitte begründen Sie die Zurückweisung dieses Inserats:</h5>
    <p><textarea #refuseJoblistingReason rows="5" cols="80" (keyup.enter)="setJoblistingRefused(refuseJoblistingReason.value)"></textarea></p>
    <p>
        <button class="btn btn-danger" (click)="cancelRefusingJob()"  style="margin-right: 10px">Abbrechen</button>
        <button class="btn btn-success" (click)="setJoblistingRefused(refuseJoblistingReason.value)">Ok</button>
    </p>
</div>
<div class="container" style="margin-top: 20px" [hidden]="refuseWhat === '' || refuseWhat === 'joblisting'">
    <h5>Bitte begründen Sie die Zurückweisung dieses Benutzers:</h5>
    <p><textarea  #refuseUserReason rows="5" cols="80" (keyup.enter)="setUserRefused( refuseUserReason.value)"></textarea></p>
    <p>
        <button class="btn btn-danger" (click)="cancelRefusingUser()" style="margin-right: 10px">Abbrechen</button>
        <button class="btn btn-success" (click)="setUserRefused(refuseUserReason.value)">Ok</button>
    </p>
</div>
<div class="container" style="margin-top: 20px" [hidden]="refuseWhat === 'user' || refuseWhat === 'joblisting'">
    <h3>Zu verifizierende Jobs</h3>
    <div>
            <div *ngFor="let job of jobListingList" class="well well-sm">
                <div>
                    <a style="color: #3bbfbf; font-size: 17px;" class="nav-item nav-link active" routerLink="/joblisting/{{job.id}}">
                        <span class="nav-link font-weight-bold"> {{job.title}}</span>
                    </a>
                </div>
                <ul style="font-size: 15px">
                    <li> Titel: {{job.title}}</li>
                    <li> Beschreibung: {{job.description}}</li>
                    <div style="margin-top: 10px">
                        <button class="btn btn-danger" (click)="setJoblistingRefusedDialog(job)" style="margin-right: 10px">Ablehnen</button>
                        <button class="btn btn-success" (click)="setJoblistingVerified(job)">Bestätigen</button>
                    </div>
                </ul>
            </div>
    </div>
    <h3>Zu verifizierende Benutzer</h3>
    <div>
            <div *ngFor="let user of userList" class="well well-sm">
                <div>
                    <a style="color: #3bbfbf; font-size: 17px;" class="nav-item nav-link active" routerLink="/adminviewuser/{{user.id}}">
                        <span class="nav-link font-weight-bold"> {{user.email}}</span>
                    </a>
                </div>
                <ul style="font-size: 15px">
                    <li> Name: {{user.email}}</li>
                    <ng-container *ngIf="getUsersCompany(user.id)">
                        <li> Firma: {{getUsersCompany(user.id).companyName}}</li>
                    </ng-container>
                    <div style="margin-top: 10px">
                        <button class="btn btn-danger" (click)="setUserRefusedDialog()" style="margin-right: 10px">Ablehnen</button>
                        <button class="btn btn-success" (click)="setUserVerified(user)">Bestätigen</button>
                    </div>
                </ul>
            </div>
    </div>
</div>


