<nav class="navbar navbar-dark bg-dark mb-5">
  <a class="navbar-brand" href="/">Jobportal</a>
  <div class="navbar-expand mr-auto">
    <div class="navbar-nav">
      <li class="nav-item nav-link active"><a  routerLinkActive="active" routerLink="/joblisting">Dashboard</a></li>
      <a class="nav-item nav-link active" routerLinkActive="active" routerLink="/joblistdetail">Inserate</a>
      <a class="nav-item nav-link active" routerLinkActive="active" routerLink="/createjoblist">Create Inserate</a>
    </div>
  </div>
</nav>
