<nav class="navbar navbar-default">
  <!--logo-->
  <img alt="img" class="img-responsive smaller" src="assets/images/MIB_logo.jpg">
  <div class="container-fluid">
      <div class="navbar-header">
          <li routerLinkActive="active">
              <a class="nav-item nav-link active" routerLink="/dashboard">Dashboard</a>
              <span class="sr-only">(current)</span>
          </li>
          <li routerLinkActive="active">
              <a class="nav-item nav-link active"  routerLink="/viewjoblisting">Jobs</a>
          </li>
          <li routerLinkActive="active">
              <a class="nav-item nav-link active"  routerLink="/createjoblist">Create Job</a>
          </li>
          <li routerLinkActive="active">
              <a class="nav-item nav-link active"  routerLink="/login">Login</a>
          </li>
          <li routerLinkActive="active">
              <a class="nav-item nav-link active"  routerLink="/admin">Admin</a>
          </li>
      </div>
  </div>
</nav>
