
<!--Navigation Links on Header-->
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="navbar-collapse w-100 order-1 order-md-0 dual-collapse2">

      <ul class="navbar-nav mr-auto">
        <!--Logo-->
        <img src="assets/images/MIB_logo.jpg" width="30" height="30" alt="">
        <!--Links-->
        <a class="nav-link active text-light" routerLinkActive="active" routerLink="/dashboard">Dashboard</a>

        <span class="sr-only">(current)</span>

        <!--Links. Link to "Eigene Inserate" and "Neues Inserat" appears when logged in.-->
        <a class="nav-link text-light" routerLinkActive="active" routerLink="/viewjoblisting">Stelleninserate</a>

        <a class="nav-link text-light" routerLinkActive="active" routerLink="/company-joblist"
             *ngIf="(isLoggedIn | async)" >Eigene Inserate</a>

        <a class="nav-link text-light" routerLinkActive="active" routerLink="/createjoblist"
             *ngIf="(isLoggedIn | async)" >Neues Inserat</a>

        <div class="dropdown">
          <a class="nav-link dropdown-toggle text-light" type="button" id="dropdownMenuButton" data-toggle="dropdown"
             aria-haspopup="true" aria-expanded="false" *ngIf="(isAdmin | async)">Admin</a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" routerLinkActive="active" routerLink="/adminverify">Inserate/Benutzer validieren</a>
            <a class="dropdown-item" routerLinkActive="active" routerLink="/adminall">Inserate/Benutzer bearbeiten</a>
          </div>
        </div>
      </ul>
    </div>
    <!-- show 'login' link if user is logged out, and 'logout' link otherwise -->
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
            <a class="nav-link text-light" routerLinkActive="active" routerLink="/login"
               *ngIf="!(isLoggedIn | async)" (click)="authService.login()">Login</a>
            <a class="nav-link text-light" routerLinkActive="active" routerLink="/login"
               *ngIf="(isLoggedIn | async)" (click)="authService.logout()">Logout</a>
        </ul>
    </div>
</nav>
