<!--<mat-card>
  <mat-form-field>
    <input matInput placeholder="Title" [(ngModel)]="joblisting.title" name="title" (ngModelChange)="onSave()">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Description" [(ngModel)]="joblisting.description" name="description" (ngModelChange)="onSave()">
  </mat-form-field>
  <button mat-button (click)="onDestroy()">destroy</button>
  <br/>
  <mat-form-field>
    <input matInput placeholder="Add Skill" [(ngModel)]="skill.name" name="name">
  </mat-form-field>
  <button mat-button (click)="onNecessarySkillCreate()">add</button>
  <mat-list>
    <mat-list-item *ngFor="let skill of necessarySkillList">
      <app-skill [skill]="skill" (destroy)="onNecessarySkillDestroy($event)"></app-skill>
    </mat-list-item>
  </mat-list>
</mat-card>

-->

<div class="container">
  <h3>Jobdetails</h3> 
  <div class="row">

    <div *ngIf="joblisting">
      <h3>{{ joblisting.title}}</h3>
      <ul>
        <li><strong>Titel:</strong> {{ joblisting.title }}</li>
        <li><strong>Beschreibung:</strong> {{ joblisting.description }}</li>
        <li><strong>Pensum:</strong> {{ joblisting.jobPensumFrom }} - {{joblisting.jobPensumTo}}</li>
        <li><strong>Lohn:</strong> {{ joblisting.payment }}</li>
        <li><strong>Kontaktperson:</strong> {{ joblisting.contactPerson }}</li>
        <li><strong>Telefon:</strong> {{ joblisting.contactPhone }}</li>
        <li><strong>Email:</strong> {{ joblisting.contactEmail }}</li>
      </ul>
    </div>
  </div>
  <button class="navbar-brand" (click)="goBack()" mat-button-name="button" class="breadcrumb">go back</button>
</div>
