<div class="view">
<h3>Suche:</h3>
<mat-form-field>
  <input matInput placeholder="Suche" [(ngModel)]="searchString" name="search" (ngModelChange)="onChange()">
</mat-form-field>

<h3>Jobinserate:</h3>

<div class="grid grid-pad">
  <div *ngFor="let jobs of jobListingList" class="well well-sm">

    <div class="nav navbar-brand">
      <span> {{jobs.title}}</span>
    </div>

    <ul>
      <li><strong> Beschreibung:</strong> {{jobs.description}}</li>
      <li>
        <a class="nav-item nav-link active" routerLink="/joblisting/{{jobs.id}}">Mehr...</a>
      </li>
    </ul>

  </div>
</div>

</div>
