<!--Template of the dialog popup-->

<div>
  <h2>Inserat löschen?</h2>
  <hr>
  <mat-dialog-content>
    <h4>{{data}}</h4>
    <h4><span style="color:darkblue"> <strong>Warnung!</strong> Diese Handlung kann nicht rückgängig gemacht werden!
      <br>Bitte laden Sie die Seite neu.'</span></h4>
  </mat-dialog-content>
  <hr>

  <button *ngFor="let jobs of jobListingList" class="btn btn-info" (click)="delete(jobs)" style="margin-right: 10px">Ja</button>
  <button class="btn btn-default" (click)="onClosed()">Abbrechen</button>
</div>
