<!--Template of the dialog popup-->

<div>
  <h2>Benutzer löschen?</h2>
  <hr>
  <mat-dialog-content>
    <h4>{{data}}</h4>
    <h4><span style="color:darkred"> <strong>Warnung!</strong> Diese Handlung kann nicht rückgängig gemacht werden!'</span></h4>
  </mat-dialog-content>
  <hr>

  <button class="btn btn-danger" (click)="setUserRefusedDialog()" style="margin-right: 10px">Ja</button>
 <!-- <button class="btn btn-success" (click)="setUserVerified(user)" style="margin-right: 10px">Bestätigen</button>-->
  <button class="btn btn-default" (click)="onClosed()">Abbrechen</button>

</div>
