/* You can add global styles to this file, and also import other style files */
@import "~node_modules/bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";

html, body {
  height: 100%;
}

body {
  color: #323232;
  @font-family: 'Roboto', sans-serif;
  background-color: #fff;
}

<<<<<<< HEAD
=======
form {
  width: 25%;
}

/*everywhere else*/
*{
  font-family: Arial, Helvetica, sans-serif;
}

>>>>>>> 60fd093c1c723138ff431dc97a58976da416d5ee
