<!--Website layout. Header and Footer position
<div id="container"></div>-->
  <!--Header
  <div id="header"></div>--><app-header></app-header>
  <!--Body
  <div id="body"></div>-->
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <!--where to display alert messages -->
          <app-alert></app-alert>
          <!-- where to display components -->
          <router-outlet></router-outlet>
        </div>
    </div>

  <!--Footer
  <div id="footer"></div>--><app-footer></app-footer>

