<h2>Registration</h2>
<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <h3>Benutzer</h3>
  <div class="form-group">
    <label for="email">Email</label>
    <input id="email" type="text" formControlName="email" class="form-control"  />
  </div>
  <div class="form-group">
    <label for="password">Passwort</label>
    <input id="password" type="password" formControlName="password" class="form-control" />
  </div>
  <div class="form-group">
    <label for="passwordConfirm">Passwort bestätigen</label>
    <input id="passwordConfirm" type="password" formControlName="passwordConfirm" class="form-control" />
  </div>
  <div class="form-group">
    <h3>Firmen Information</h3>
    <div class="form-group">
      <label for="companyName">Firma</label>
      <input id="companyName" type="text" formControlName="companyName" class="form-control"  />
    </div>
    <div class="form-group">
      <label for="companyStreet">Strasse</label>
      <input id="companyStreet" type="text" formControlName="companyStreet" class="form-control"  />
    </div>
    <div class="form-group">
      <label for="companyCity">Ort</label>
      <input id="companyCity" type="text" formControlName="companyCity" class="form-control"  />

      <label for="companyZIP">PLZ</label>
      <input id="companyZIP" type="text" formControlName="companyZIP" class="form-control"  />
    </div>
    <div class="form-group">
      <label for="companyPhone">Telefonnummer</label>
      <input id="companyPhone" type="text" formControlName="companyPhone" class="form-control"  />
    </div>
    <div class="form-group">
      <label for="companyPerson">Kontaktperson</label>
      <input id="companyPerson" type="text" formControlName="companyPerson" class="form-control"  />
    </div>
    <div class="form-group">
      <label for="companyWebsite">Webseite</label>
      <input id="companyWebsite" type="text" formControlName="companyWebsite" class="form-control"  />
    </div>
    <button  class="btn btn-primary">Register</button>
  </div>
</form>
