<!--

    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>

  -->
<!--Background picture-->
<div class="bg"> </div>


    <h3>Die neusten Inserate</h3>


<div class="grid grid-pad">
  <a *ngFor="let jobs of jobListingList" class="col-1-4"
     routerLink="/joblisting/{{jobs.id}}">
    <div class="module hero">
      <h5>{{jobs.title}}</h5>
      <h5> {{jobs.branche}}</h5>
    </div>
  </a>
</div>


