/*background image*/
.bg {
  /* The image used */
  /* Half height */
  /* Center and scale the image nicely */
 /* background: url("https://mdbootstrap.com/img/Photos/Horizontal/Nature/full page/img(11).jpg") no-repeat center;*/
  height: 100%;
}

.row {
  margin-left: 60px;

}
[class*='col-'] {
  float: left;
  padding-right: 20px;
  padding-bottom: 20px;
}
[class*='col-']:last-of-type {
  padding-right: 0;
}
a {
  text-decoration: none;
}

h3 {
  text-align: center;
  margin-bottom: 0;
  font-size: 16px;
}
h4 {
  position: relative;
}
.grid {
  margin: 0;
}
.col-1-4 {
  width: 25%;
}
.module {
  padding: 20px;
  text-align: center;
  color: darkslategray;
  max-height: 120px;
  min-width: 120px;
  background-color: #EEEEEE;
  border-radius: 2px;
}
.module:hover {
  background-color: #F7F7F7;
  cursor: pointer;
  color: darkslategray;
}
.grid-pad {
  padding: 10px 0;
  margin-left: 20px;
}
.grid-pad > [class*='col-']:last-of-type {
  padding-right: 20px;
}
@media (max-width: 600px) {
  .module {
    font-size: 10px;
    max-height: 75px; }
}
@media (max-width: 1024px) {
  .grid {
    margin: 0;
  }
  .module {
    min-width: 60px;
  }
}
