/*background image*/
.bg {
  /* Half height */
  /* Center and scale the image nicely */
 background: url(../../assets/images/bg_dash.jpg);
  height: 100px;
}


[class*='col-'] {
  float: left;
  padding-right: 20px;
  padding-bottom: 20px;
}
[class*='col-']:last-of-type {
  padding-right: 0;
}

h3 {
  text-align: center;
  margin-bottom: 0;
  font-size: 16px;
}
h4 {
  position: relative;
}
.grid {
  margin: 0;
}
.col-1-4 {
  width: 25%;
}
.module {
  padding: 20px;
  text-align: center;
  color: darkslategray;
  max-height: 120px;
  min-width: 120px;
  background-color: #EEEEEE;
  border-radius: 2px;
}
/*Changes color on hover*/
.module:hover {
  background-color: #c9e4da;
  cursor: pointer;
  color: darkslategray;
  border-color: darkblue;
}
.grid-pad {
  padding: 10px 0;
  margin-left: 20px;
}
.grid-pad > [class*='col-']:last-of-type {
  padding-right: 20px;
}

