
<div class="container">
   <h2 style="margin-top: 20px; color: darkslategrey">Ihre Inserate</h2>
  <p style="font-size: 15px">
    Für die Bearbeitung eines Inserates klicken Sie auf dem Feld <strong>"Inserat Bearbeiten"</strong>.
    <br><strong> Bitte gedulden Sie sich bis Ihr neuerstelltes oder bearbeitetes Inserat vor der Veröffentlichung
    <br>durch den Moderator verifiziert wird.</strong></p>
  <div>
    <div *ngFor="let jobs of jobListingList" class="well well-sm">

      <h4> {{jobs.title}}
        <div *ngIf="jobs.isVerified"><span style="color: darkgreen">(verifiziert)</span></div>
        <div *ngIf="! jobs.isVerified"><span style="color: burlywood">(nicht verifiziert)</span></div> </h4>

      <ul>
          <li><strong>Titel:</strong> {{ jobs.title }}</li>
          <li><strong>Beschreibung:</strong> {{ jobs.description }}</li>
          <li><strong>Pensum:</strong> {{ jobs.jobPensumFrom }} - {{jobs.jobPensumTo}} %</li>
          <li><strong>Lohn:</strong> {{ jobs.payment }}</li>
          <li><strong>Kontaktperson:</strong> {{ jobs.contactPerson }}</li>
          <li><strong>Telefon:</strong> {{ jobs.contactPhone }}</li>
          <li><strong>Email:</strong> {{ jobs.contactEmail }}</li>
          <li *ngIf="! jobs.isVerified && jobs.isUpdatedByAdmin"><strong>Begründung für Zurückweisung:</strong> {{jobs.comment}}</li>
      </ul>
      <p>
        <button class="btn btn-info" routerLink="/company-edit-job/{{jobs.id}}" style="margin-right: 10px">Inserat bearbeiten</button>
        <button class="btn btn-info" (click)="openDialogdelete()" >Inserat löschen</button>
      </p>
    </div>
    <button class="btn btn-primary" (click)="goBack()">Zurück</button>
  </div>
</div>
